h1{
    text-align: $texto-centrado;
    font-weight: $fuenteGrueso;
    color: $colorBlanco;
    padding: 2rem;
}

h2{
    display: block;
    text-align: $texto-centrado;
    color: $colorBlanco;
    padding: 1rem;
    font-size: 3rem;
    font-weight: $fuenteGrueso;
}

a{
    text-decoration: none;
    color: $colorBlanco !important;
    font-size: 2rem ;
    font-weight: $fuenteGrueso !important;
}

p{
    color: $colorBlanco;
}

ul{
    width: 100%;
    margin-bottom: 0rem;
}

i{
    font-size: 2rem;
    padding: 15px;
}

 body{
    background-image: url("../img/Pared\ de\ ladrillo\ negro\,\ fondo\ oscuro\ para\ diseño\ _\ Foto\ Premium.jfif");
} 