.footer {
    display: flex;
    margin-top: 1rem;
    background-color: $colorVerde;
    padding: 1.3rem;
}

.redes__sociales {
   
        display: flex;
     
        justify-content: end;
    }

.footer__h3{
    color: white;
    font-weight: bold;
    font-size: 2rem;
 }
