.footer {
    display: flex;
    margin-top: 1rem;
    background-color: $colorVerde;
    padding: 2rem;
    width: 100%;
}

.redes__sociales {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

.footer__h3{
    color: white;
    font-weight: bold;
    font-size: 2rem;
 }
