.footer__contacto{
    font-family: 'Courier New', Courier, monospace;
    background-color: $colorFooter;
    margin-top: 3rem;
    padding: 2rem;
    
    .footer__btn{
        text-align: $texto-centrado;
        margin-top: 2rem;
    }
    
    .footer__h3{
            color:$colorBlanco;
            font-weight: $fuenteGrueso
    }
    
    .footer__p{
        margin-top: 24px;
    }
}

.footer__contacto2{
    font-family: 'Courier New', Courier, monospace;
    background-color: $colorFooter;
    margin-top: 2rem;
    padding: 4rem;

    .container__img{
        padding: 1rem;
        background-color: $colorBlanco;
        border-radius: 0.375rem;
        margin-bottom: 1rem;
    }
        
    .footer__btn{
        text-align: $texto-centrado;
         margin-top: 2rem
    }
        
    .footer__h3{
        color:$colorBlanco;
        font-weight: $fuenteGrueso
    }
        
    .footer__p{
        margin-top: 24px;
    }
} 
