.header{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    background-image: url("../img/logofondo.jpeg");
    width: 100%;
    background-size: cover;
    .contenedor__redes{
        margin-top: 1.5rem;   
        .redes__sociales{
            list-style-type: none;
            display: flex;
            justify-content: center;
            .redes__sociales-item{
                margin-inline: 1rem;
            }
        }
    }
    .barra__nav{
        display: flex !important;
        justify-content: space-around !important;
        background-color:transparent!important;
        text-align: end;
        font-size: 1.5rem;
        .nav__item{
            font-size: 25px;
        }
    }
    .nav__btn{
        background-color: #ffffff;
        color: black;
        padding: 2px;
        padding-block: 1px;
    }
    .actives {
        text-decoration: underline!important;
    }
}

.header2 {
    .contenedor__redes{
        margin-top: 1.5rem;
        .redes__sociales{
            list-style-type: none;
            display: flex;
            justify-content: center;
            .redes__sociales-item{
                margin-inline: 1rem;
            }
        }
    }
    .barra__nav{
        display: flex !important;
        justify-content: space-around !important;
        background-color:transparent!important;
        text-align: end;
        font-size: 1.5rem;
        .nav__item{
            font-size: 25px;
        }
    }
    .nav__btn{
        background-color: #ffffff;
        color: black;
        padding: 2px;
        padding-block: 1px;
    }
    .actives {
        text-decoration: underline!important;
    }
}
