@media (max-width: 992px){
    .header {
        .container__nav{
            justify-content: end !important;    
        }
    }

    .header2 {
        background-color:$colorVerde;
        background: $gradiente;
        background-color: transparent;
        .contenedor__redes{
            margin-top: 0px;
        }
       
        nav {
            .container__nav{
                justify-content: end !important;    
            }
        }
    }
      
    .fechas {
        .contenedor__fechas-img{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contenedor__fechas-img img{
            margin: 20px;
            width: 100%;
        }
    }  

    .fechas2{
        .contenedor__fechas2-ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contenedor__fechas2-li{
            margin: 20px;
            width: 100%;
        }
    }
    .musica-letra{
        display: flex;
        flex-direction: column;
        align-items: center;
        .musica__video-container{
            margin-top: 0px;
            margin-inline: 2rem ;
        }
    }
 }

@media (max-width: 768px){
    h2 {
        font-size: 2rem;
    }

    .header{
        display: flex;
        flex-direction: column;
        .container__nav{
        justify-content: end !important;    
        .barra__nav{
            align-items: end;
            }
        }
    }

    .header2{
        display: flex;
        flex-direction: column;
        .container__nav{
        justify-content: end !important;    
        .barra__nav{
            align-items: end;
            }
        }
        .redes__sociales{
            margin: 0;
        }   
    }
    
    .musica-letra{
        .musica__video-container{
            margin-inline: 1rem ;
        }
        .video{ 
            width: 500px;
        }
    }   

    .galeria-imagenes{
        .contenedor__galeria-imagenes{
            grid-template-columns: 1fr;
            gap: 3rem;
            margin-bottom: 3rem;
        }
        .contenedor__galeria-imagenes img {
            width: 100%;
            object-fit: cover;
        }
    } 
}

@media (max-width: 600px){
    .header {
        .contenedor__redes{
            margin: 0;
            i{
                font-size: 18px;
            }
        }
        .container__nav{
            justify-content: end !important;
            .nav__btn{
                font-size: 15px;
            }
            .nav__item{ 
                font-size: 15px;
            }    
        }
    }

    .header2 {
        .contenedor__redes{
            margin: 0;
            i{
                font-size: 18px;
            }
        }
        .container__nav{
            justify-content: end !important;  
            .nav__btn{
                font-size: 15px;
            }  
            .nav__item{ 
                font-size: 15px;
            }
        }
    }
    .musica-letra{
        .musica__video-container{
            margin: 10px
        }
        .video{ 
            width: 80vw;
            }
    }
    .footer {
        .footer__h3{
            font-size: 1.5rem;
        }  
        .redes__sociales-item i{
            font-size: 1.5rem;
            padding-top: 0px;
        }
        .redes__sociales-item a {
            font-size: 1.5rem;
        }
    }
}


@media (max-width: 400px){
    body{
        overflow-x: hidden;
        h1{
            padding-top: 0px;
            margin-top: 2rem;
        }
        h2{
            font-size: 1.5rem;
        }
    }    
    .header{
        padding-bottom: 20px;
        ul{
            padding-left: 0px;
        }
        .contenedor__redes{
            .redes__sociales{
                padding-top: 10px;
                .redes__sociales-item{
                    margin-inline: 0px;
                    i{
                        font-size: 20px;
                        padding: 8px;
                    }
                    a{
                        font-size: 3px;
                    }
                }
            }
        }
        .navegacion{
            display: flex;
            align-items: start !important;
            justify-content: start !important;
            .container__nav{
                justify-content: start !important;  
                .barra__nav{
                    display: flex;
                    align-items: start;
                    justify-content: start !important;
                }  
                .nav__btn{
                    font-size: 12px;
                }
            }  
        }  
    }
    .header2{
        background-color:$colorVerde;
        background: $gradiente;
        padding-bottom: 20px;
        ul{
            padding-left: 0px;
        }
        .contenedor__redes{
            .redes__sociales{
                padding-top: 10px;
                .redes__sociales-item{
                    margin-inline: 0px;
                    a{
                        font-size: 3px;
                    }
                    i{
                        font-size: 20px;
                        padding: 8px;
                    }
                }
            }
        }
        .navegacion{
            display: flex;
            align-items: start !important;
            justify-content: start !important;
            .container__nav{
                justify-content: start !important;
                .barra__nav{
                    display: flex;
                    align-items: start;
                    justify-content: start !important;
                }          
                .nav__btn{
                    font-size: 12px;
                }   
            }   
        }
    }
    .musica-letra{
        margin-top: 20px;
        .musica__video-container{
            margin-inline: 0px;
        }
    }
    .galeria-imagenes{
        .imagenes__h2{
            margin-top: 2rem;
        }
    } 
    .section__contacto {
        .contacto__h3{
            font-size: 18px;
        }
    }
    .section__contacto2{
        padding: 2rem;
        .contacto__h3{
            font-size: 18px;
        }
        .container__img{
            display: none;
        }  
    }
    .footer {
        .footer__h3{
            font-size: 1rem;
        }  
        .redes__sociales-item a {
            font-size: 1rem;
        }
         
        .redes__sociales-item i{
            font-size: 1rem;
            padding-top: 0px;
            padding-inline: 8px
            ;
        }
    }
}