.musica-letra {
    @include flex-spacearound;
    margin-top: 40px;

    .letras{
        text-align: $texto-centrado;
        ;
    }

    .musica__video-container{
        margin-top: 6rem;
        margin-left: 1rem;
    }

    .video{
        width:560px;
        height:415px; 
    }

    .letras__nombre-cancion{
        padding-inline: 2rem;
        color: $colorBlanco;
        font-size: 25px;
        font-weight: $fuenteGrueso;
    }

    .letras__letra-cancion{
        font-family:'Diphylleia', serif;
        padding-inline: 2rem;
        padding-block: 10px;
        font-size: 20px;
    }
}
