.sobre-nosotros{
    color:$colorBlanco;
    font-family: 'Lora', serif;
    font-size: 30px;
    padding: 2rem;
    text-shadow: 0px 0px 10px $colorBlanco;
    text-shadow: 4px 2px 12px #20b36e,;
    text-shadow: -4px 2px 12px #20b36e;
    text-shadow: 0px -6px 14px #198751;
    text-shadow: 0px -12px 14px #198751;
}

.main__sobre-nosotros{
    min-height: calc(100vh - 300px) ;

}